.container{
    height: 100%;
    width: 100%;
}
.nav{
    background-color: yellow;
    height: 300px;
    margin-bottom: 20px;
}
.loading{
  height: 50rpx;
  font-size: 22rpx;
  color: #333;
  text-align: center;
      }
      .scrollview{
        table-layout:fixed;
        // border: 1px solid #000;
    }
